### Q1
List the basic data types in python and give one example each.

1. Float  
    2.2
    
2. Integer(int)  
    20
   
3. Boolean  
    True
   
4. String  
    "Folarin"

### Q2
Change the variable x = 4539.85 to :

(i) a string and assign it to a new variable y,

(ii) an integer and assign it to a new variable z

Print out the type of y and z.

In [ ]:
x = 4539.85
y = str(x)

In [ ]:
x = 4539.85
z = int(x)

In [ ]:
print(type(y))

In [ ]:
print(type(z))

### Q3

What data type would you use to store

a. The price of car?

b. The age of a person

c. car plate number: plateNumber = "AV01-AFP"?

d. The price of fuel

e. The number of students in the class

f. The weight of a person

g. Check whether two figures are equal

i. The name of a  school

j. The average result of the overall score of a student

k. The total number of vote cast

a. Float

b. Integer

c. String

d. Float

e. Integer

f. Float

g. Boolean

i. String

j. Float

k. Integer

### Q4
**Thomas Partey is arguably the best player in the Black Stars. He is a great addition to the team**

Split the statement above into **two statement_1** and **statement_2** such that statement_1 will be 'Thomas Partey is arguably the best player in the Black Stars' and statement_2 will be 'He is a great addition to the team'

Statement:

- **What is the length of statment 1?**
-**What is the length of statment 2?**
-**Is the length of statement 1 greater than statement 2**

In [ ]:
statement_1 = 'Thomas Partey is arguably the best player in the Black Stars'

statement_2 = 'He is a great addition to the team'

In [ ]:
len_statement_1 = len(statement_1)

print(len_statement_1)

In [ ]:
len_statement_2 = len(statement_2)

print(len_statement_2)

In [ ]:
len_statement_1 > len_statement_2

### Q5
What values does python use to represent **True** and **False** respectively?

True = 1

False = 0

### Q6
Write a code to evaluate if the following statments are True or False.

1. 78 is greater than 46 and less than 30 which is an odd number.

2. 8-2 is an even number or 8 is a is an odd number.

3. The number of characters in the word 'boostrap' is 7 and that of 'sample' is 6.

In [ ]:
(78 > 46) and (78 < 30) and (30%2 != 0)

In [ ]:
a = 8 - 2

(a%2 == 0) or (8%2 != 0)

In [ ]:
len('boostrap') == 7 and len('sample') == 6

### Q7
Given the following python code,

`word='Hello, How are you?'`

Write Python code to return the following

- How
- How are you
- are
- ?
- Hello, How are you

Answer
- How  
- How are you  
- are  
- ?  
- Hello, How are you

### Q8
Given the following python code,

`sentence = "I am very excited"`

Write Python code to return 
- Convert sentence to upper case
- Convert sentence to lower case
- Convert sentence to title case
- Convert sentence to list of strings

In [ ]:
sentence = "I am very excited"

upper_case = sentence.upper()

print('Upper Case:', upper_case)

In [ ]:
sentence = "I am very excited"

lower_case = sentence.lower()

print('Lower Case:', lower_case)

In [ ]:
sentence = "I am very excited"

title_case = sentence.title()

print('Title Case:', title_case)

In [ ]:
sentence = "I am very excited"

list_of_strings = sentence.split()

print('List of strings:', list_of_strings)

### Q9
`word = 'OneThirtyEight'`

Using Python code extract the following from the variable word:
- One
- Thirty
- Eight
- OneThirty
- ThirtyEight
- ONETHIRTYEIGHT

In [ ]:
word = 'OneThirtyEight'

word_1 = word[:3]

print(word_1)

In [ ]:
word_2 = word[3:9]

print(word_2)

In [ ]:
word_3 = word[9:14]

print(word_3)

In [ ]:
word_4 = word[:9]

print(word_4)

In [ ]:
word_5 = word[3:14]

print(word_5)

In [ ]:
word_6 = word.upper()

print(word_6)

### Q10
Turn Ault'Kelly into a string and assign it to a variable  called name.

In [ ]:
name = "Ault'Kelly"
print(name)